.finder {
	position: relative;
	height: 100%;
}

.finder__btn {
	padding: 0 12px;
	border: 0;
	border-radius: 3px;
	background: #2f6d86;
	color: #fff;
	line-height: 30px;
}

.finder__main {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 43px;
}

.finder__footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 43px;
	padding: 0 12px;
	border-top: 1px solid #aaa;
	background: #ddd;
}

.finder__actions {
	float: right;
	margin: 6px 0 0;
}

.finder__panels {
	height: 100%;
}

.finder__panel {
	overflow: auto;
	position: relative;
	float: left;
	width: 300px;
	height: 100%;
	border-right: 1px solid #aaa;
}
.finder__panel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.finder__dir li {
	cursor: pointer;
	padding: 0 12px;
}
.finder__dir li.is-selected {
	background: rgba(#2f6d86, .3);
}

.finder__upload-overlay {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#fff, .9);
}
.finder__upload-overlay li {
	overflow: hidden;
}

.finder__upload-progress-wrap {
	display: block;
	width: 100%;
	height: 24px;
	margin: 0 0 24px;
}

.finder__upload-progress {
	display: block;
	height: 100%;
	background: #2f6d86;
}

.finder__upload-size {
	float: right;
}

.finder__file {
	width: 600px;
	border-right: 0;
}

.finder__file-details dl {
	overflow: hidden;
}
.finder__file-details dt {
	clear: both;
	float: left;
	width: 25%;
	margin: 0;
	padding: 0 0 0 24px;
	font-weight: 400;
}
.finder__file-details dd {
	float: right;
	width: 75%;
	margin: 0;
	padding: 0 0 0 12px;
}

.finder__image figure {
	position: relative;
	height: 380px;
	margin: 0;
	background: #222;
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}
.finder__image img {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin: 0 auto;
	opacity: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	transform: translate3d(-50%, -50%, 0);
	-webkit-transition: opacity .4s ease-out;
	-moz-transition: opacity .4s ease-out;
	transition: opacity .4s ease-out;
}
.finder__image img.is-loaded {
	opacity: 1;
}
